{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section> 
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <!-- Page Title -->
                <h2 class="text-coffee">
                    <strong>Favourites</strong>
                </h2>
                <hr>
            </div>
        </div>
    </div>    
</div>
</section>
{% endblock %}