<!--Favourites Page-->
{% extends "base.html" %}
{% load static %}

<!-- Page header block to pushing down below Delivery Banner & Navigation -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section>
  <div class="container-fluid">
    <!-- Page Title -->   
    <h1 class="title-font text-coffee text-center mt-5">Favourites</h1>
    <hr>
    <!--Favourite Products-->
    <div class="product-container col-10 offset-1">
      <div class="row">
        {% for product in is_favourite %}
          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-5">
            <!--Displays Favourite Products-->
            <div class="card h-100">
              <!--Product Image-->
              {% if product.image %}
              <a href="{% url 'product_detail' product.id %}"><img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}"/>
              </a>
              {% else %}
              <!--Product No image -->
              <a href="{% url 'product_detail' product.id %}"><img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}"/>
              </a>
              {% endif %}
              <!-- Product Name -->
              <div class="card-body pb-0">
              <p class="mb-0 text-center"><strong>{{ product.name }}</strong></p>
              </div>
              <div class="card-footer bg-white pt-0 border-0 text-left">
                <div class="row">
                  <div class="col">
                      <!-- Product Price -->
                      <p class="lead mb-0 text-left"><strong>€ {{ product.price }}</strong></p>
                      <!-- Product Category -->
                      {% if product.category %}
                      <p class="small mt-1 mb-2">
                          <a class="text-coffee" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fa-solid fa-tags mr-2"></i>{{ product.category.friendly_name }}
                          </a>
                      </p>
                      {% endif %}
                  </div>                                        
                </div>
                <!--Page Link to Remove Favourite Product , Redirects back to the Produt Removed-->
                <div class="col">                 
                    <a href="{% url 'favourites' product.id %}">
                      <i class="fas fa-heart fa-lg text-danger"> Remove</i>
                    </a>                 
                </div>
              </div>                
            </div>  
          </div>
          <!--If No Facourites-->
          {% empty %}
          <div class="text-coffee">
            There are Currently No Favourite Products Selected.
          </div> 
        {% endfor %}                           
      </div>           
    </div>        
  </div> 
</div>
</section>
{% endblock %}