/*Video Style */
#coffeecup-video {              
    width: 100%;
    height: auto;         
}

.box{
    position:relative;
}
  
.video-title{
    position: absolute;
    color: #fff;    
    left: 10%;
    right: 0;
    top: 10%;   
}
