* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    height: 100%;
}

/*general body style*/
body {
    font-family: 'Noto Serif Toto', sans-serif;
    font-weight: 300;        
}

/* Delivery Banner Style */
.bg-gold {
    background: #d4af37 !important;
}

/*All main Titles style*/

/*Title Font Case Style*/
.title-font {
    text-transform: uppercase;    
}

/*Title Font Color*/
.text-coffee {
    color: #5f2f02 !important;
}

/* from Bulma - Icon stsyles */ 
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5em;
    width: 1.5em;
}

/*Main Title Link Header Style*/
.main-title-link {
    width: fit-content;
}

/* Button style */
.btn-coffee {
    background: #5f2f02;
    color: #ffffed;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-coffee:hover,
.btn-coffee:active,
.btn-coffee:focus {
    background: #d4af37;
    color: #ffffed;
}

/* Search Input Style*/
.border-coffee {
    border: 0.1em solid #5f2f02 !important;
}

/* Main-Naviagtion Style*/
.dropdown-menu > a {
    color: #5f2f02 !important;
}

/* Products Overlay background style*/
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #ffffed;
	z-index: -1;
}


a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}


.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 12em;
      }
  }
  
  /* pad the top a bit when navbar is collapsed on mobile */
  @media (max-width: 991px) {
      .header-container {
          padding-top: 9em;
      }
  
      body {
          height: calc(100vh - 9em);
      }
  }