* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    height: 100%;
}

/* General Body Style */
body {    
    font-family: 'Noto Serif Toto', sans-serif;
    font-weight: 300;
    background-color: #ffffed;        
}

/* Delivery Banner Style */
.bg-gold {
    background: radial-gradient(
        farthest-corner at right bottom,
        #814E01 0,
        #CB9B51 22%,
        #F6E27A 45%,
        #F6F2C0 50%,
        #F6E27A 55%,
        #CB9B51 78%,
        #814E01 100%);
}
 

/* All Main Titles style */

/* Title Font Case Style */
.title-font {
    text-transform: uppercase;    
}

/* Title Font Color */
.text-coffee {
    color: #5f2f02 !important;
}

/* From Bulma - Icon stsyles */ 
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5em;
    width: 1.5em;
}

/* Main Title Link Header Style */
.main-title-link {
    width: fit-content;
}

/* All Button Styles */

/* Shop Now Button */
.shop-now-button {
    background: #5f2f02;
    color: white;   
}

/* Button styles */

.btn-coffee {
    background: #4e2702;
    color: #ffffed;
}

.btn-outline-coffee {
    background: white;
    color: #4e2702 !important; /* use important to override link colors for <a> elements */
    border: 1px solid #4e2702;
}

.btn-outline-coffee:hover,
.btn-outline-coffee:active,
.btn-outline-coffee:focus {
    background: #4e2702;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-coffee:hover,
.btn-coffee:active,
.btn-coffee:focus {
    background: radial-gradient(
        farthest-corner at right bottom,
        #814E01 0,
        #CB9B51 22%,
        #F6E27A 45%,
        #F6F2C0 50%,
        #F6E27A 55%,
        #CB9B51 78%,
        #814E01 100%);
    color: #5f2f02;
}

/* Search Input Style */
.border-coffee {
    border: 0.1em solid #5f2f02 !important;
}

/* Main-Naviagtion Style */
.dropdown-menu > a {
    color: #5f2f02 !important;
}

/* Category Badge Style */
a.category-badge > span.badge:hover {
    background: #5f2f02 !important;
    color: #fff !important;
}

/* Category btt Style */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}


.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* --------- Bootstrap Toasts Style */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* From CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* Mail Chimp Css Style */
#mc_embed_signup {
    background:#ffffed;
    clear:left; 
    font:1em Helvetica,Arial,sans-serif;
    width:20em;
    color: #5f2f02;
}

#brandingLogo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

  /* Allauth form formatting */
  /* Allauth form formatting */

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* Standard Bootstrap btn Transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
  
    .header-container {
        padding-top: 12em;
    }
}
  
/* Pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    body {
        height: calc(100vh - 9em);
    }
    
    .header-container {
        padding-top: 9em;
    }
  
    .display-4.title-font.text-coffee {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-coffee.rounded-1,
    .btn.btn-coffee.rounded-1 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-coffee.rounded-1.btn-lg,
    .btn.btn-coffee.rounded-1.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
    
}