<!-- 400 Error Page -->
{% extends "base.html" %}
{% load static %}

<!-- Page header block to pushing down below Delivery Banner & Navigation -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %} 
<div class="container h-100">
    <div class="row justify-content-md-center mt-5">
        <div class="col-md-6 my-auto text-center text-coffee">
            <h1 class="logo-font">400 Error</h1>
            <h2 class="logo-font"><i class="fa-solid fa-code-pull-request"></i> Bad Request</h2>
            <hr>
            <h3 class="logo-font"><i class="fa-solid fa-mug-hot"></i> Coffee Boutique Applogise</h3>
            <p>We are currently unable to handle this request <i class="fa-solid fa-code-pull-request"></i></p>
            <P>Please return to Our Shop</p>
            <div class="my-5">
                <h4>
                    <a href="{% url 'home' %}" class="btn btn-outline-coffee rounded-1 mt-5">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Return to Shop</span>
                    </a>            
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}