<!-- Main Navigation -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item ">
            <a class="title-font font-weight-bold nav-link text-coffee mr-4" href="{% url 'home' %}" aria-label="Go to the product management page">
                Home
            </a>            
        </li>
        <li class="nav-item dropdown">
            <a class="title-font font-weight-bold nav-link text-coffee mr-4" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" aria-label="Go to All products" class="dropdown-item">All Products</a>                                
                <a href="{% url 'products' %}?sort=category&direction=asc" aria-label="Go to Product by Category" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" aria-label="Go to Product by Price" class="dropdown-item">By Price</a>               
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="title-font font-weight-bold nav-link text-coffee mr-4" href="#" id="coffee-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Coffee
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="coffee-link">
                <a href="{% url 'products' %}?category=coffee_beans,coffee_grounds,coffee_capsule_pods" class="dropdown-item">All Coffee</a>
                <a href="{% url 'products' %}?category=coffee_beans" class="dropdown-item">Coffee Beans</a>
                <a href="{% url 'products' %}?category=coffee_grounds" class="dropdown-item">Coffee Grounds</a>
                <a href="{% url 'products' %}?category=coffee_capsule_pods" class="dropdown-item">Coffee Capsule Pods</a>                
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="title-font font-weight-bold nav-link text-coffee mr-4" href="#" id="coffeemachines-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Coffee Machines
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="coffeemachines-link">
                <a href="{% url 'products' %}?category=capsule_pod_machines,coffee_makers_machines,espresso_machines" class="dropdown-item">All Coffee Machines</a>
                <a href="{% url 'products' %}?category=capsule_pod_machines" class="dropdown-item">Capsule Pod</a>
                <a href="{% url 'products' %}?category=coffee_makers_machines" class="dropdown-item">Coffee Makers</a>
                <a href="{% url 'products' %}?category=espresso_machines" class="dropdown-item">Espresso</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="title-font font-weight-bold nav-link text-coffee mr-4" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=drinks_wears,manual_coffee_makers" class="dropdown-item">All Accessories</a>
                <a href="{% url 'products' %}?category=drinks_wears" class="dropdown-item">Drink Wears</a>
                <a href="{% url 'products' %}?category=manual_coffee_makers" class="dropdown-item">Manual Coffee Makers</a>                
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="title-font font-weight-bold nav-link text-coffee mr-4" href="#" id="gifts&treats-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gifts & Treats
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gifts&treats-link">
                <a href="{% url 'products' %}?category=gift_sets,coffee_treats" class="dropdown-item">All Gift Sets & Treats</a>
                <a href="{% url 'products' %}?category=gift_sets" class="dropdown-item">Gift Sets</a>
                <a href="{% url 'products' %}?category=coffee_treats" class="dropdown-item">Treats</a>                
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="title-font font-weight-bold nav-link text-coffee mr-4" href="#" id="about-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="about-link">
                <a href="{% url 'blog' %}" class="dropdown-item">Blog</a>
                <a href="{% url 'contact_us' %}" class="dropdown-item">Contact Us</a>
                <a href="{% url 'faq' %}" class="dropdown-item">FAQ's</a>
                <a href="{% url 'copyright' %}" class="dropdown-item">Copy Right</a>                 
            </div>
        </li>                
    </ul>
</div>
