<!--Blog Detail Page-->
{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="title-font text-coffee text-center"><i class="fa-solid fa-mug-hot"></i> Coffee Boutique Blog <i class="fa-solid fa-mug-hot"></i></h2>
            <hr>
            <h4 class="text-coffee text-center">{{ blog.title }}</h4>   
            <hr>            
        </div>
        <!--Blog Post Full details-->
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <!--Blog Image-->
                    {% if blog.image %}
                    <a href="{% url 'blog_detail' blog.slug %}">
                        <img class="card-img-top img-responsive" src="{{ blog.image.url }}" alt="{{ blog.title }}">
                    </a>
                    {% else %}
                    <!-- Blog No image --> 
                    <a href="">
                        <img class="card-img-top img-responsive" src="{{ MEDIA_URL }}noimage.png"  alt="{{ blog.title }}">
                    </a>
                    {% endif %}
                </div>
                <div class="col-auto">
                    {{ blog.content | safe }}
                </div>               
            </div>
            <div class="row justify-content-center mt-5">                                                              
                {% if request.user.is_superuser %}
                <!-- Edit and Delete buttons is user is Superuser -->                
                <a href="{% url 'edit_blog' blog.slug %}" class="text-dark my-4 mr-4">Edit <i class="fa-solid fa-pencil"></i></a>                     
                <a class="text-danger my-4 mr-4" href="{% url 'delete_blog' blog.slug %}">Delete <i class="fa-solid fa-trash-can"></i></a>
                {% endif %}
                <!-- Link to go back Blog -->  
                <a href="{% url 'blog' %}" class="btn btn-outline-coffee rounded-1 my-4">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Back To Blog</span>
                </a>                                        
            </div>                        
        </div>    
    </div>
</div>    

{% endblock %}