<!--Blog Page-->
{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="title-font text-coffee text-center"><i class="fa-solid fa-mug-hot"></i> Coffee Boutique Blog <i class="fa-solid fa-mug-hot"></i></h2>
            <hr>
            <h4 class="text-coffee text-center">Popular Coffee Articles</h4>   
            <hr>
        </div>
        <!--Blog Post -->
        <div class="container col-10 offset-1">
            <div class="row">
                {% for blog in blogs %}
                <div class="col-auto col-xl-6 mt-5">
                    <div class="card h-100">
                        <!--Blog Image-->
                        {% if blog.image %}
                        <a href="{% url 'blog_detail' blog.slug %}">
                            <img class="card-img-top img-responsive" src="{{ blog.image.url }}" alt="{{ blog.title }}">
                        </a>
                        {% else %}
                        <!-- Blog No image --> 
                        <a href="{% url 'blog_detail' blog.slug %}">
                            <img class="card-img-top img-responsive" src="{{ MEDIA_URL }}noimage.png"  alt="{{ blog.title }}">
                        </a>
                        {% endif %}
                        <!-- Blog Title -->
                        <div class="card-body pb-0">
                            <p class="mb-0 text-center"><strong>{{ blog.title }}</strong></p>
                        </div>                                
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">                                    
                                {% if request.user.is_superuser %}
                                <!-- Edit and Delete buttons is user is Superuser -->
                                <div class="col edit-product">
                                    <a href="{% url 'edit_blog' blog.slug %}" class="btn btn-success my-4 mr-4">Edit <i class="fa-solid fa-pencil"></i></a>
                                </div>
                                <div class="col text-right del-product">
                                    <button type="button" class="btn btn-danger my-4 mr-4" data-toggle="modal" data-target="#deleteModal">Delete <i class="fa-solid fa-trash-can"></i></button>
                                </div>
                                <!-- Modal for Delete Confirmation-->
                                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="container d-flex pl-0"><h5 class="modal-title ml-2 text-coffee" id="deleteModalLabel">DELETE BLOG POST</h5></div>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="text-danger">If you Delete this <strong>{{ blog.slug }}</strong> will be gone forever! Are you sure you want to proceed?! </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-coffee" data-dismiss="modal">Cancel</button>
                                                <a class="btn btn-danger my-4 mr-4" href="{% url 'delete_blog' blog.slug %}">Delete <i class="fa-solid fa-trash-can"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>                
                                {% endif %}
                                <div class="col text-center">
                                    <a class="btn btn-coffee my-4 mr-4 text-decoration-none" href="{% url 'blog_detail' blog.slug %}">Read More</a>
                                </div>                                        
                            </div>
                        </div>                                
                    </div>
                </div>                       
                {% endfor %}                
            </div>
        </div>
    </div>
</div>    

{% endblock %}