{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section>
  <div class="container">
    <hr>        
    <h4 class="title-font text-coffee text-center mt-5">Contact Us</h4>                
    <hr> 
     <!-- Frequently Asked Questions -->       
    <div class="text-coffee px-4" id="accordion">
        <div class="card mt-5">
          <div class="card-header bg-gold" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link text-coffee" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Do I need to register to place an order ?
              </button>
            </h5>
          </div>      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <p>You don't need to register or sign in to order. Instead you can checkout as a
                'Guest'</p>
              <p>Please bear in mind this will mean your order isn't stored on our website for
                future records.</p>
              <p>
                Creating an account allows you to do things like 'Reorder' quickly, see your
                previous orders by adding to favourites and retain delivery details for a quick checkout
              </p>
            </div>
          </div>
        </div>
        <div class="card mt-4">
          <div class="card-header bg-gold" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed text-coffee" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                How much does delivery cost ?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <p>Delivery is <strong>free</strong> when you spend over € 50.</p>
                <p> Otherwise it is 10% of your total purchase.</p>
            </div>
          </div>
        </div>
        <div class="card mt-4">
          <div class="card-header bg-gold" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed text-coffee" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                When will I receive my order ?
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <p class="card-text"> If your order is 2kg or less it will be sent using .. post service
                    Services, if over 2kg via ... courier service.</p>
                <p>Typicaly Delivery within Ireland is between 1-3 days dependingon the time you make your order</p>
                <p>For international orders this might take up to 2 weeks or longer depending on where you have placed your order from</p>    
            </div>
          </div>
        </div>        
        <div class="card mt-4">
            <div class="card-header bg-gold" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed text-coffee" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Can I make changes to my order ?
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                <p>Before check out Yes you can </p>
                <p> Once an order has been paid for and processed, we are unable to change it.
                </p>
                <p>Should you need to for what every reason please contact us .. tel number & link to contact us .as soon as possible then, provided your order has
                   not been fulfilled, we'll be happy to cancel/refund you.</p>
              </div>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-header bg-gold" id="headingFive">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed text-coffee" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Is your website secure ?
                </button>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="card-body">
                <p> Yes. The Coffee Boutique is committed to protecting your privacy and
                    promises not to share any information we collect with any third party.</p>
                <p> Our website uses https, a more secure protocol, meaning your data and most
                    importantly your payment is encrypted and therefore better protected.</p>
                <p> We use Stripe Payments for our card payment handling, one of the largest and most trusted payment handling company's in the world.</p>
              </div>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-header bg-gold" id="headingSix">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed text-coffee" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    I'm having issues logging into my account 
                </button>
              </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
              <div class="card-body">
                <p>If is possible you have checked out as a 'Guest' in which case you will need to
                   register for an account  .. link account registration here !!</p>
                <p> CHECK TO SEE IF PASSORD RESET WORKS !!!</p>
                <p> If this doesn't work, get in touch with us and we'll be able to help.</p>
              </div>
            </div>
        </div>
      </div>
  </div>
</section>
{% endblock %}