<!-- Password Reset Page -->
{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

<!-- Page header block to pushing down below Delivery Banner & Navigation -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container-fluid text-coffee">
    <div class="row justify-contenet-center">
        <!-- Page Title & Already Logged In Snippet & Instructions  -->
        <div class="col-md-8 offset-md-2 text-center">
            <hr>
            <h2 class="title-font mb-4">{% trans "Password Reset" %}</h2>
            <hr>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p><i class="fa-solid fa-lock"></i> {% trans "Forgotten your password?" %}</p>
            <p>{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        </div>
        <!-- Password Reset Form -->
        <div class="col-md-4 offset-md-4">
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form|crispy }}
                <!-- Links redirect to Login or Submit Reset Password-->
                <a class="btn btn-outline-coffee rounded-1" href="{% url 'account_login' %}">Back to Login</a>
                <input class="btn btn-coffee rounded-1" type="submit" value="{% trans 'Reset My Password' %}" />
            </form>
            <!--Instructions is acse of Reset Failure-->
            <p class="my-2">{% blocktrans %}Please contact <i class="fa-solid fa-phone-volume"></i>  <i class="fa-solid fa-at"></i> us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
    </div>
</div>
   
{% endblock %}