<!-- Sign Up Page -->
{% extends "account/base.html" %}

{% load i18n %}

<!-- Page header block to pushing down below Delivery Banner & Navigation -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container-fluid text-coffee">
    <div class="row justify-contenet-center">
        <!-- Page Title & Redirect Link & question  -->
        <div class="col-md-8 offset-md-2 text-center">
            <hr>
            <h2 class="title-font mb-4">{% trans "Sign Up" %}</h2>
            <hr>
            <p>{% blocktrans %}Already have an account? Then please <i class="fa-solid fa-user-plus"></i><a class="text-coffee" href="{{ login_url }}"> Sign In</a>.{% endblocktrans %}</p>
        </div>
        <!-- Sign Up Form -->
        <div class="col-md-8 offset-md-2">
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <!-- Links redirect Back to Login or Submit Sign Up-->
                <a class="btn btn-outline-coffee rounded-1" href="{% url 'account_login' %}">Back to Login</a>
                <button class="btn btn-coffee rounded-1" type="submit">{% trans "Sign Up" %}</button>
            </form>
        </div>    
    </div>
</div>

{% endblock %}
