<!-- Base Template for all other Templates within this project -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--Above Meta allows support of older Internet Explorer versions and eliminate validation errors when validating our HTML-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Coffee Boutique, online Coffee and products,high quality,taste and flavour coffee,makers and products.">
        <meta name="keywords" content="Coffee,coffee beans,ground coffee,coffee pods,manual coffee makers,coffee machines,coffee esspresso machines,moka pots,drip coffee pots,cups,mugs,esspresso cups,coffee gift sets and treats,Coffee Boutique">
    {% endblock %}

    <!-- Extra META Block , incase Extra are require and not contained above -->
    {% block extra_meta %}
    {% endblock %}

     

     <!-- Core CSS Links, -->
    {% block corecss %}
        <!-- Bootstrap CSS Link -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- Main Base.css Link -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <!-- Font Awesome Link -->
        <script src="https://kit.fontawesome.com/00159bedec.js" crossorigin="anonymous"></script>
        <!-- Google Fonts Link -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Toto&display=swap" rel="stylesheet">
        <!--Mail Chimp Link-->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">
    {% endblock %}

    <!-- Extra CSS Block, for all CSS not contained within the root static -->
    {% block extra_css %}        
    {% endblock %}

    <!-- Core JavaScript -->
    {% block corejs %}
        <!-- Bootstrap JS Script Link -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
        <!--Mail Chimp Link-->
        <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>        
    {% endblock %}

    <!-- Extra JavaScript Block, for all JS not contained within the root static -->
    {% block extra_js %}        
    {% endblock %}
    <title>Coffee Boutique {% block extra_title %}{% endblock %}</title>
</head>
<body>
    
     <!-- Include header -->
     {% include 'includes/header.html' %}

    <!-- Messages, linked to Toasts. Code From Boutique Ado -->
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% include "includes/footer.html" %}    
   
    {% block postloadjs %}
    <!--Toast Js-->
    <script type="text/javascript" defer>
       $(document).ready(function(){
            $('.toast').toast('show');
        })
    </script>
    {% endblock %}
    
    {% block postloadjs2 %}
    <!--Mail Chimp JS-->    
    <script type='text/javascript'>
        (function($) {
            window.fnames = new Array(); 
               window.ftypes = new Array();
            fnames[0]='EMAIL';
            ftypes[0]='email';
            fnames[1]='FNAME';
            ftypes[1]='text';
            fnames[2]='LNAME';
            ftypes[2]='text';
            fnames[3]='ADDRESS';
            ftypes[3]='address';
            fnames[4]='PHONE';
            ftypes[4]='phone';
            fnames[5]='BIRTHDAY';
            ftypes[5]='birthday';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>    
    {% endblock %}
    
</body>
</html>