<!-- Base Template for all other Templates within this project -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--Above Meta allows support of older Internet Explorer versions and eliminate validation errors when validating our HTML-->
        <meta http-equiv="Cache-control" content="public">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Coffee Boutique, online Coffee and products,high quality,taste and flavour coffee,makers and products.">
        <meta name="keywords" content="Coffee,beans,grounds,pods,manual coffee makers,machines,esspresso,moka pots,drip coffee pots,cups,mugs,esspresso cups,gift sets and treats,Coffee Boutique">
    {% endblock %}

    <!-- Extra META Block , incase Extra are require and not contained above -->
    {% block extra_meta %}
    {% endblock %}

     

     <!-- Core CSS Links, -->
    {% block corecss %}
        <!-- Bootstrap CSS Link -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- Main Base.css Link -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <!-- Font Awesome Link -->
        <script src="https://kit.fontawesome.com/00159bedec.js" crossorigin="anonymous"></script>
        <!-- Google Fonts Link -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Toto&display=swap" rel="stylesheet">
        <!--Mail Chimp Link-->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">
    {% endblock %}

    <!-- Extra CSS Block, for all CSS not contained within the root static -->
    {% block extra_css %}        
    {% endblock %}

    <!-- Core JavaScript -->
    {% block corejs %}
        <!-- Bootstrap JS Script Link -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
        <!--Mail Chimp Link-->
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    {% endblock %}

    <!-- Extra JavaScript Block, for all JS not contained within the root static -->
    {% block extra_js %}        
    {% endblock %}
    <title>Coffee Boutique {% block extra_title %}{% endblock %}</title>
</head>
<body>
    <!-- Code from Institute Boutique Ado follow along project slightly modified -->
    <header class="container-fluid fixed-top">
         <!-- Delivery Banner -->
         <div id="delivery-banner" class="row text-center">
            <div class="col bg-gold">
                <h4 class="text-coffee my-2"><strong>Free delivery on orders over  € {{ free_delivery_threshold }}!</strong></h4>                
            </div>            
        </div>
        <div id="topnav" class="row bg-white pt-lg-3 d-none d-lg-flex">            
            <!-- Products Search Form -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">               
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-coffee rounded-1" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-coffee border border-coffee rounded-1" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Page Logo Title & Home page Nav link-->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">                
                <a href="{% url 'home' %}" aria-label="Go to the home page" class="nav-link main-title-link">
                    <h2 class="title-font text-coffee text-center my-0"><strong>Coffee Boutique</strong></h2>
                </a>                
            </div>
            <!-- Account Navigation Dropdown to Account Links & Shopping Cart Icon with Grand Total -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <!-- Account Navigation Dropdown to Account Links -->
                    <li class="dropdown list-inline-item">
                        <a class="nav-link text-coffee" href="#" aria-label="Go to Accounts Links" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'add_product' %}" aria-label="Go to the product management Add Products page"class="dropdown-item">Add Product</a>
                                    <a href="{% url 'add_blog' %}" aria-label="Go to the product management Add Blogs page" class="dropdown-item">Add Blog</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" aria-label="Go to the profile page" class="dropdown-item">My Profile</a>
                                <a href="{% url 'favourites' %}" class="dropdown-item">Favourites</a>
                                <a href="{% url 'account_logout' %}" aria-label="Go to the accout logout page"class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" aria-label="Go to the sign up page" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" aria-label="Go to the login page" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <!-- Shopping Cart Icon with Grand Total -->
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-coffee{% endif %} nav-link" href="{% url 'view_cart' %}">
                            <div class="text-center">
                                <div><i class="fa-solid fa-cart-shopping"></i></div>
                                <!-- Displays the total cost of items in the basket with 2 decimal points -->
                                <p class="my-0">
                                    {% if grand_total %}
                                        €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        € 0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Products Navigation -->
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Mobile Top Header with Navbar, Search, Account & Shopping Cart Includes -->
                {% include 'includes/mobile-top-header.html' %}
                <!-- End of Mobile Top Header with Navbar, Search, Account & Shopping Cart Includes -->
                <!-- Main Navbar Includes -->
                {% include 'includes/main-nav.html' %}
                <!-- End of Main Navbar Includes -->
            </nav>
        </div>       
    </header>

    <!-- Messages, linked to Toasts. Code From Boutique Ado -->
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                 {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                     {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% include "includes/footer.html" %}    
   
    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    
    <!--Mail Chimp JS-->
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript'>
        (function($) {
            window.fnames = new Array(); 
               window.ftypes = new Array();
            fnames[0]='EMAIL';
            ftypes[0]='email';
            fnames[1]='FNAME';
            ftypes[1]='text';
            fnames[2]='LNAME';
            ftypes[2]='text';
            fnames[3]='ADDRESS';
            ftypes[3]='address';
            fnames[4]='PHONE';
            ftypes[4]='phone';
            fnames[5]='BIRTHDAY';
            ftypes[5]='birthday';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>
    
    {% endblock %}
    
</body>
</html>