<!-- Add Product Page -->
{% extends "base.html" %}
{% load static %}

<!-- Page header block to pushing down below Delivery Banner & Navigation -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}    
    <div class="container">
        <!-- Page Title & Sub Title-->   
        <h2 class="title-font text-coffee text-center mt-5 ">Product Management</h2>
        <hr>
        <h4 class="text-muted text-coffee text-center">Add a Product</h4>                
        <hr>
        <div class="row justify-content-center mt-5">
            <!--Add Product From-->
            <div class="col-12 col-md-6 text-coffee">
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}           
                    <!--Page Links to Add Product or Cancel to Leave page Redirect's to Products-->
                    <div class="text-right">
                        <a class="btn btn-coffee rounded-1" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-coffee rounded-1" type="submit">Add Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!--Code Institute Boutique Ado credit JS-->
    <script type="text/javascript">
        // Shows Image Added
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}