<!-- Delete Product Page -->
{% extends "base.html" %}
{% load static %}

<!-- Page header block to pushing down below Delivery Banner & Navigation -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <!-- Page Title & Sub Title-->   
    <h2 class="title-font text-coffee text-center">Product Management</h2>
    <hr>
    <h4 class="text-muted text-coffee text-center">Delete a Product</h4>                
    <hr>
    <div class="row justify-content-center mt-5">               
        <!-- Delete Confirmation Box -->
        <div class="col-md-6 h-100">
            <!--Delete Form-->
            <form method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete this product?</p>
                <p class="text-danger">! DELETION IS PERMANENT !</p>
                <!--Page Links to Delete Product or Cancel to Leave page Redirect's Back to Products-->
                <input type="submit" value="Delete Product" class="btn btn-danger">
                <a href="{% url 'products' %}" class="btn btn-coffee">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}