<!-- Edit Review Page -->
{% extends "base.html" %}
{% load static %}

<!-- Page header block to pushing down below Delivery Banner & Navigation -->
{% block page_header %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <!-- Page Title -->        
        <h4 class="title-font text-coffee text-center">Update Review</h4>                
        <hr>        
        <div class="row justify-content-center mt-5">
            <!--Update Review From-->
            <div class="col-12 col-md-6 text-coffee">
                <form action="{% url 'edit_review' review.id %}" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <!--Page Links to Update Review or Cancel to Leave page Redirect's Back to the Product Review that is been edited-->                
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-coffee rounded-1">
                        <span>
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        Return to Product
                    </a>
                    <input type="submit" value="Update" class="btn btn-coffee rounded-1">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}