<!-- Product Deatil Page -->
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

<!-- Page header block to pushing down below Delivery Banner & Navigation -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">            
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!--Add & Remove Favourite Product -->
        <div class="row mt-5">
            {% if user.is_authenticated %}            
            <div class="col">
                <h3 class="text-coffee">Am I a Favourite</h3>
                {% if is_favourite%}
                  <a href="{% url 'favourites' product.id %}">
                    <i class="fas fa-heart fa-lg text-danger"> Remove</i>
                  </a>
                {% else %}
                <a href="{% url 'favourites' product.id %}">
                    <i class="far fa-heart fa-lg text-danger"> Add</i>
                  </a>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <!--Product with Full details,Review & Add to Cart-->
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <!-- Product Image -->
                <div class="image-container my-5">
                    <!--Product Image-->
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>                       
                        {% else %}
                        <!--Product No image -->
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
                <!-- Product Review -->
                <div>                    
                    <h4 class="text-coffee">Leave a Review</h4>
                    <!--If User is Logged In-->
                    {% if user.is_authenticated %}
                    <!--Review & Rating Form-->
                    <form method="POST" action="{% url 'add_review' product.id %}">
                        {{ form | crispy }}                
                        <textarea name="review" id="review" class="form-control review-box" cols="10" rows="5" required></textarea>
                        <br>
                        <!-- Rating From Rathan Kumar's YouTube Tutorial.-->
                        <h6>Rate:</h6>
                        <div class="rate">
                            <input type="radio" name="rating" id="rating10" value="5" required checked="checked"><label for="rating10" title="5"></label>
                            <input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9" title="4.5" class="half"></label>
                            <input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
                            <input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7" title="3.5" class="half"></label>
                            <input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3"></label>
                            <input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5" title="2.5" class="half"></label>
                            <input type="radio" name="rating" id="rating4" value="2" required><label for="rating4" title="2"></label>
                            <input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3" title="1.5" class="half"></label>
                            <input type="radio" name="rating" id="rating2" value="1" required><label for="rating2" title="1"></label>
                            <input type="radio" name="rating" id="rating1" value="0.5" required><label for="rating1" title="0.5" class="half"></label>
                        </div>
                        {% csrf_token %}
                        <!--Page Links to Submit Review or Cancel-->
                        <div class="justify-contenet-center">
                            <button type="submit" class="btn btn-coffee rounded-1">Submit</button>
                            <button type="reset"  class="btn btn-coffee rounded-1">Cancel</button>
                        </div>                   
                    </form>                     
                    {% else %}
                    <!--If User not logged in-->
                    <div class="text-coffee">
                        <P>You Need to be logged in to Leave a Review.</P>  
                        <a href="{% url 'account_login' %}" class="btn btn-coffee rounded-1">Login Here.</a>
                    </div>
                    {% endif %}                  
                </div>                                               
            </div>
            <!-- Product Details & Add to Cart-->                  
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <!-- Product Name -->
                    <p class="mb-0"><strong>{{ product.name }}</strong></p>
                    <!-- Product Price -->                      
                    <p class="lead mb-0 text-left"><strong>€ {{ product.price }}</strong></p>
                    <!-- Product Category -->
                    {% if product.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-coffee" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fa-solid fa-tags mr-2"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    <!-- Product Description -->
                    <p class="mt-3">{{ product.description }}</p>
                    <!--Add to Cart Form-->
                    <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <!--Product Size Selector If Product Has Size-->
                            {% with product.has_sizes as s %}
                            {% if s %}
                                <div class="col-12">
                                    <p><strong>Size:</strong></p>
                                    <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                                        <option value="125gm">125 gm</option>
                                        <option value="250gm">250 gm</option>
                                        <option value="340gm" selected>340 gm</option>
                                        <option value="500g">500 gm</option>
                                        <option value="1kg">1 kg</option>                                        
                                    </select>
                                </div>
                            {% endif %}
                            <!-- Qty Control -->
                            <div class="col-12">
                                <!--Qty Control Form-->
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group input-group-{{ product.id }}">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-coffee rounded-1 decrement-qty_{{ product.id }}" 
                                                data-item_id="{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-coffee rounded-1 increment-qty_{{ product.id }}"
                                                data-item_id="{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Keep Shopping and Add to Cart buttons -->
                            <div class="col{% if s %}-12 mt-2{% endif %}">                                
                                <a href="{% url 'products' %}" class="btn btn-outline-coffee rounded-1 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>                                
                                <input type="submit" class="btn btn-outline-coffee rounded-1 mt-5 text-uppercase" value="Add to Cart">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                        </div>
                    </form>                                       
                </div>                
            </div>            
        </div>               
        <hr>
        <!--Displays Customer Reviews of Products-->
        <div class="container-fluid">
            <!--Shows Total Number of Reviews -->
            <div class="row">                
                <h4 class="text-coffee">Customer Reviews : {{total_reviews}}</h4>              
            </div>
            <!--Shows Full Review/s -->
            <div class="row">
                {% for review in reviews %}
                <div class="col">
                    <article class="box mb-3">
                        <!--Shows Review Created On Date & Who wrote Review-->
                        <div>
                            <span class="text-muted small">{{review.created_on}}</span>
                            <h6 class="mb-1">{{ review.user }}</h6>
                        </div>
                        <!--Shows Review Writen by User-->
                        <div class="mt-2">
                            <p>
                                {{review.review}}
                            </p>
                        </div>
                        <!--Shows Star rating done by User-->
                        <div class="rating-star">
                            <span>
                                <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
                            </span>
                        </div>
                    </article>
                    <!--If User Added the Review / Is Superuser-->
                    {% if request.user == review.user or request.user.is_superuser %}
                    <a class="text-info" href="{% url 'edit_review' review.id %}">
                        Edit <i class="fa-solid fa-pencil"></i>
                    </a>
                    <a class="text-danger" href="{% url 'delete_review' review.id %}">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                    {% endif %}
                    <!--If No Reviews-->
                    {% empty %}
                    <div class="text-coffee">
                        There are Currently No Reviews for this Product.
                    </div>  
                </div>                                                           
                {% endfor %}                              
            </div>                   
        </div>       
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

{% endblock %}